* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #222425;
    color: #222121;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 15px;
    color: #ffffff;
}

nav {
    margin-bottom: 15px;
}

nav a {
    text-decoration: none;
    color: #40658a;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #3498db;
}

main {
    max-width: 900px;
    margin: auto;
}

section {
    background: #2c2f31;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

section h2 {
    margin-bottom: 15px;
    color: #ffffff;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #2980b9;
}

article {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9fafb25;
    border-left: 4px solid #3498db;
    border-radius: 5px;
}

article h3 {
    margin-bottom: 8px;
    color: #ffffff;
}


footer {
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    color: #777;
    font-size: 14px;
}

@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    body {
        padding: 10px;
    }
}


p {
    color: #ffffff9a;
}